$primary:#5C6B73;
$secondary: #9DB4C0;
$success: #D99748;
$danger: #D99748;;
$warning: #F23E16;
$info: #C2DFE3;
$light:#E0FBFC;
$dark: #253237;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: $secondary;
}

h3 {
    color: $success;
    font-size: .8rem;
}

h4 {
    color: $secondary;
}
h5 {
    color: $dark;
}

.container.carousel {
    background-color: white;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
  width: 10%;
}

.resource {
    position: absolute;
    padding-top: 10px;
    width: 100%;
}

.jumbotron.hometron{
    background-color: $primary;
    // border-radius: 0 0 15px 15px;
    // padding: 1rem .5 rem;
    // width: 100%;
}

.Col.homesearch {
    position: center;
    background-color: $success;
}

a {
    color: $success;
    text-decoration: none;
}

.byline{
    font-size: large;
    word-break: keep-all;
}

Header {
    background-color: $dark;
}

p {
    color: $dark;
}

img {
    max-height: -webkit-fill-available;
    padding: .2rem;
}

.footer.p {
    color: $secondary;
}

.Card.Link {
    color: $success;
    text-decoration: none;
}

.homeLink{
    color: $success;
    text-decoration: none;
}

.homeLink:hover{
    text-decoration: none;
    color:$primary;
}

// CARD 
.card{
    box-shadow: 10px 3px 6px $dark;
}

.cardTextAlign{
    text-align: right;
}

.cardBody{
    display: flex;
    padding: 1rem;
}

.cardText {
    word-break: break;
    text-align: right;
    display: inline-flex;
}

.cardTime {
    font-size: xx-small;
    text-align: right;

}

.recentlyAddP{
    text-align: center;
    color: $success;
    font-size: larger;
    font-weight: bold;
}

.deleteButtonEdit{
    cursor:pointer;
}

.noDataFound{
    text-align: center;
    font-weight: bold;
    color: var(--dark);
}

