$primary:#5C6B73;
$secondary: #9DB4C0;
$success: #D99748;
$danger: #D99748;;
$warning: #F23E16;
$info: #C2DFE3;
$light:whitesmoke;
$dark: #253237;

// Main

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}

h2 {
    color: $primary;
    font-size: xx-small;
}

h3 {
    color: $light;
    font-size: .8rem;
}

h4 {
    color: $success;
   
}
h5 {
    color: $primary;
    font-size: smaller;
}

h6 {
    color: $primary;
}

.li {
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
}

p {
    color: $dark;
    margin-bottom: 0;
}

a {
    color: $success;
    text-decoration: none;
}

.main {
    width: 100%;
    min-height: 100%;
}

Header {
    background-color: $dark;
}

// Text Styles
.byline{
    font-size: medium;
    word-break: keep-all;
    text-align: center;
}

.copy {
    text-align: center;
}

.copyLink {
  color: $success;
  text-align: center;
  border: 1px $success;
  padding: .23rem;
}

.copyLink:hover {
  text-decoration: none;
  color: $dark;
}

.heading {
   text-align: right;
}

.title {
    padding-left: 60px;
    font-size: 2rem;
 }

 .subtitle {
     text-align: left;
     float: right;
     border-style: solid;
     border-color:  #D99748;
     padding: .5rem;
     margin: .5rem;
     position: absolute;
     top: 50px;
     background: white;
     opacity: 80%;
     z-index: 100;
 }

// Carousel
.container.carousel {
    background-color: white;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
  width: auto;
  
}

.carousel-indicators.li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: $dark;
    background-clip: padding-box;
    border-bottom: 10px solid black;
    opacity: .5;
    transition: opacity .6s ease;
  }

// Resource Styles 

.resource {
    position: absolute;
    padding-top: 10px;
    width: 100%;
}

.resourceImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
    position: relative;
    padding: 1rem;
}

.resourceBody {
    max-width: 60%;
}

.one-third {
    max-width: 33%;
    float: left;
    margin-left: 20px;
    position: relative;
    z-index: 100;
    width: 30%;
    
}

.jumbotron.hometron{
    background-color: $primary;
    padding: 1rem;
}

.Col.homesearch {
    position: center;
    background-color: $success;
}

// Link

.homeLink{
    color: $success;
    text-decoration: none;
    font-size: medium;
    padding: .5rem;
}

.homeLink:hover{
    text-decoration: none;
    color: white;
}

.loginLink{
    color: white;
    text-decoration: none;
    font-size: small;
    padding: .25rem;
}

.loginLink:hover{
    text-decoration: none;
    color:$success;
}

.logoutLink{
    color: white;
    text-decoration: none;
    font-size: small;
    padding: .25rem;
}

.logoutLink:hover{
    text-decoration: none;
    color:$success;
}

.profileLink{
    color: white;
    text-decoration: none;
    font-size: small;
    padding: .25rem;
}

.profileLink:hover{
    text-decoration: none;
    color:$success;
}

.signupLink{
    color: white;
    text-decoration: none;
    font-size: small;
    padding: .25rem;
}

.signupLink:hover{
    text-decoration: none;
    color:$success;
}

// Card 

.card{
    box-shadow: 10px 3px 6px $dark;
}

.cardBody{
    display: flex;
    padding: 1rem;
}

.cardImg {
    min-width: 75px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    object-fit:cover;
    padding: .2rem;
}

.cardImg:hover {
    transform: rotate(357deg);
}

.Card.Link {
    color: $success;
    text-decoration: none;
}

.cardText {
    word-break: break;
    text-align: right;
    display: inline-flex;
}
.cardTextAlign{
    text-align: center;
    
}

.cardTime {
    font-size: xx-small;
    text-align: right;

}

.recentlyAddP{
    text-align: center;
    color: $primary;
    font-size: medium;
    font-weight: 500;
}

.profileLeft {
    text-align: left;
    max-width: 25%;
    margin-left: 1rem;
}

.smallBox {
    margin: .25rem .25rem;
    padding: 2px;
    border: 1px solid $success;
    border-radius: 2px;
}

// Components

.donateBtn {
    background-color: $success;
}

.donateBtn:hover {
    background-color: whitesmoke;
    border: 1px $success;
}
.deleteButtonEdit{
    cursor:pointer;
}

.noDataFound{
    text-align: center;
    font-weight: bold;
    color: var(--dark);
}

.video {
    width: 100%;
    height: 300px;
    padding: 0px;
    background-color: $dark;
}

// Footer

.footer.p {
    color: $secondary;
}

@media screen and (max-width: 768px) {

    .profileLeft {
        float: left;
        text-align: left;
        
    }

    .button.edit {
        font-size: small;
      }

}