.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #253237;
  min-height: 80vh;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #D99748;
}

/* .Container {
  height: 100%;
  width: 100%;
  background-color: #D99748;
} */
h1 {
  animation: type 3s steps(13);
  overflow:hidden;
  white-space:nowrap;
  font-family:'Courier New', Courier, monospace;
  border-right:4px solid black;
  width:13ch;
  
}

h1.class {
  color: #D99748;
}
@keyframes type {
  0% {
    width:0ch;
  }
  100% {
    width:13ch;
  }
}
.Navbar.bg{
  color: #253237;
}
.mainNav {
  display: flex;
  flex-wrap: nowrap;
}
a.nav.mainNav {
  color: #5C6B73;
  text-decoration: none;
}
a.nav.mainNav:hover {
  color: #D99748;
  text-decoration: none;
}

a:hover {
  color: #D99748;
  text-decoration: none;
}

p {
  text-align: center;
  color: #253237;
}

p.caption {
  font-style: italic;
  color: #9e9fa0;
  font-size: x-small;
  margin: 0;
}

img {
  width: 100%;
  max-width: 500px;
  height: auto;
  max-height: 500px;
}

.small {
  width: 13%;
  height: 13%;
}

.italic {
  font-style: italic;
}

Card.link {
  color: #D99748;
  text-decoration: none;
}

.dropdown-item {
  color: #9DB4C0;
  align-items: right;
}

.mr-auto {
  color: #9DB4C0;
}
ul {
  list-style-type: none;
  margin-bottom: 0px;
  overflow: hidden;
  background-color: #253237;
  align-content: space-between;
}

li {
  float: left;
}

li a {
  /* display: block; */
  color: white;
  text-align: center;
  padding: .35rem;
  text-decoration: none;
  font-size: x-small;
}

li a:hover {
  color: #D99748;
  text-decoration: none;
}
.actived {
  background-color:#D99748;
}
.float-right {
float: right;
}
.footer{
  margin-top: .1rem;
  padding: .3rem;
  position: static;
  background-color:#253237;
  bottom: 0;
  left: 0;
  width: 100%;
}
.logoText {
  font-size: 1.3rem;
  display: block;
  color: #E0FBFC;
  background: #5C6B73;
  /* text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15); */
  display: flex;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.login-form {
  width:100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.jumbotron.hometron {
  background-color: #9DB4C0;
  border-radius: 0px 0px 0px 0px;
  padding: 1.2rem;
  margin-bottom: 0px;
}

.jumbotron.whitespace {
  background-color: transparent;
  width: 100%;
}

/* .main {
  background-color: #5C6B73;
} */

.Col {
  min-height: max-content;
}

.footer {
  font-size: x-small;
  text-align: center;
}

.footer.p {
  color: #9DB4C0;
  text-align: center;
}

.user {
  float: right;
}

.nullA {
  text-decoration: none;
  color: #9DB4C0;
  font-size: 80%;
}

.nullA:hover {
  text-decoration: none;
  color: #D99748;
}

.signup {
  text-decoration: none;
  color: #D99748;
}

.signup:hover {
  text-decoration: none;
  color: #5C6B73;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form-control {
  position: relative;
  max-width: 300px;
}

.button.search {
  position: relative;
}

button.edit {
  border-radius: 25px;
  border-color: white;
  background-color: #D99748;
  color: #253237;
  text-decoration: none;
}

.link.plain {
  text-decoration: none;
  text-shadow: none;
}

.link.plain:hover {
  text-decoration: none;
}

a.center {
  color: #253237;
  text-decoration: none;
}

a.center:hover{
  color: #D99748;
  text-decoration: none;
}

a.mainCard {
  color: #253237;
  text-decoration: none;
}

a.mainCard:hover {
  color: #D99748;
  text-decoration: none;
}

#dropdown {
  color: #9DB4C0;
  background-color: transparent;
  text-decoration: none;
}

#dropdown:hover {
  color: #253237;
  background-color: #E0FBFC;
  text-decoration: none;
}

.accordion.item.list {
  background-color: tomato;
}